# Logs
npm-debug.log*

# Coverage directories
coverage/

# Compiled code
build/

# Dependencies
node_modules/
yarn.lock

# Optional npm cache directory
.npm/

# Webflow
.idea/

# Operating System
.DS_Store
Thumbs.db
